export REACT_APP_DODDLE_API_KEY=5KLLCF43GSEK68110TR1Q023W4BV8JJ3
export REACT_APP_DODDLE_API_SECRET=cJANd1WIc9AQ6hTbZtaOeR2cAoBXmUvOh2bc4gOloOp3idj2Smq6bJ2SyDt3B2D0
export DODDLE_GOOGLE_API_KEY=AIzaSyAkmeiDS7DYyy2DH5xthaMxQp448fxJAKM
export MERCHANT_ID=AUSTRALIA_POST
# -----
export NODE_ENV=development
# -----
export API_HOST=https://apigw.eu-preprod.doddle.tech
export REACT_APP_DOMAIN=eu-preprod.doddle.tech
# -----
export LF_HOST=http://localhost:3333
export LF_PORT=3333
export HOST_APP_HOST=http://localhost:3000
export HOST_APP_PORT=3000
